<h2>
	<a href="/p-admin/<%= genericdocnamelink %>/"> 
	<%= genericdocTitle %> </a> &rsaquo; <% if(genericdoc){%>Edit<%}else{%>New<%} %> 
	
	<input type="submit" name="save_button" style="font-size: 65%;" value="<% if(genericdoc){%>Update<%}else{%>Save<%}%> <%= genericdocTitle %>" class="ts-button ts-color-success ts-pull-right"/>
	
</h2>
	<%if(genericdoc){%>
		<input type="hidden" name="docid" value="<%= genericdoc._id %>">
	
		<% if(typeof genericdocname === "string"){%>
			<input type="hidden" name="doctypename" value="<%= genericdocname %>">
		<%}%>
		<% if(typeof genericdocnamelink === "string"){%>
			<input type="hidden" name="doctypenamelink" value="<%= genericdocnamelink %>">
		<%}%>

	<%}%>
	<div class="ts-document">
		<div id="bootstrap" class="ts-row">
			<div class="ts-row ts-container-forminput">
				<input class="ts-col-span12" type="text" placeholder="Title" value="<% if(genericdoc && typeof genericdoc.title==='string'){%><%= genericdoc.title %><%}%>" name="title"/>
			</div>
			<div  class="ts-row ts-container-forminput no-margin">
				<div class="ts-col-span12">
					<!-- https://github.com/yawetse/wysihtml5 -->
					<textarea id="content-textarea" class="textarea-tall noFormSubmit ts-col-span12" name="content" placeholder="New <%= genericdocTitle %>"><% if(genericdoc && typeof genericdoc.content==='string'){%><%- genericdoc.content %><%}%></textarea>
				</div>
			</div>
		</div>
	</div>