<details class="ts-genericdoc">
  <summary>
    <div class="ts-genericdoc-hoveroptions ts-pull-right">
      <a href="/<%- locals.adminPath %>/content/<%- genericdoctypelink %>/<%- genericdoc._id %>/edit" class="async-admin-ajax-link"><img src="/extensions/periodicjs.ext.asyncadmin/img/icons/doc_edit_three.svg" alt="edit"  class="ts-icon async-admin-ajax-link" data-ajax-href="/<%- locals.adminPath %>/content/<%- genericdoctypelink %>/<%- genericdoc._id %>/edit" /></a>
      <a><img src="/extensions/periodicjs.ext.asyncadmin/img/icons/doc_view_two.svg" alt="view"  class="ts-icon" /></a>
      <a><img src="/extensions/periodicjs.ext.asyncadmin/img/icons/doc_delete.svg" alt="delete"  class="ts-icon"/></a>
    </div>
    <%- genericdoc.title %>
    <small class="ts-text-divider-text-color">(<%- locals.viewhelper.moment(genericdoc.publishat).format('YYYY/MM/DD hh:mm:ssa') %>)</small>
    <hr>
  </summary>
  <aside class="ts-text-xs">
    <div class="ts-row">
      <div class="ts-screensm-col-span12 ts-col-span4 ">
        <% genericauthor = genericdoc.primaryauthor %> 
        <% include genericauthor_item %> a
      </div>
      <div class="ts-screensm-col-span12 ts-col-span4 ">
        <strong>Created Date:</strong> <%- locals.viewhelper.moment(genericdoc.createdat).format('YYYY/MM/DD - hh:mm:ssa') %>, 
      </div>
      <div class="ts-screensm-col-span12 ts-col-span4 ">
        <strong>Updated Date:</strong> <%- locals.viewhelper.moment(genericdoc.updatedat).format('YYYY/MM/DD - hh:mm:ssa') %> 
      </div>
    </div>
    <div class="ts-row">
      <div class="ts-screensm-col-span12 ts-col-span4 ">
        <strong>Content Types:</strong>
        <% generictaxomony = genericdoc.contenttypes %>
        <% include generictax_list_item %>
      </div>
      <div class="ts-screensm-col-span12 ts-col-span4 ">
        <strong>Categories:</strong>
        <% generictaxomony = genericdoc.categories %>
        <% include generictax_list_item %>
      </div>
      <div class="ts-screensm-col-span12 ts-col-span4 ">
        <strong>Tags:</strong>
        <% generictaxomony = genericdoc.tags %>
        <% include generictax_list_item %>
      </div>
    </div>
    <div class="ts-row">
      <div class="ts-col-span12">
        <% genericassets = genericdoc.assets %>
        <% include genericassets_list_item %>
      </div>
    </div>
  </aside>
</details>