<form 
  id="search-options-form" 
  name="search-options-form" 
  class="ts-form search-options-form async-admin-ajax-page-forms" 
  method="get">
  <details class="ts-genericdoc">
    <summary>
      <span class="ts-text-xx ts-text-bold">Content Management &rsaquo; <%-genericdoctype%>s</span>
      <% if(genericdoctypelink ==="asset" || genericdoctypelink ==="category" || genericdoctypelink ==="contenttype"  || genericdoctypelink ==="tag" ) {%>
        <a class=" ts-button ts-pull-right ts-open-modal" href="/<%- locals.adminPath %>/content/<%- genericdoctypelink  %>/new" data-tsmodal-id="new-<%- genericdoctypelink  %>-modal">New <%- genericdoctype %></a>
      <%}else{%>
        <a class="async-admin-ajax-link ts-button ts-pull-right" href="/<%- locals.adminPath %>/content/<%- genericdoctypelink  %>/new">New <%- genericdoctype %></a>
      <%}%>

    <div>
      Search: <input name="search" value="<%- request.query.search %>"/>
      <div class="ts-pull-right"> 
        <% var genericdocsperpage = [{
        "value":"15",
        "label":"15"
        },{
        "value":"30",
        "label":"30"
        },{
        "value":"50",
        "label":"50"
        },{
        "value":"200",
        "label":"200"
        }]; %>
        <select name="limit"  class="autoFormSubmit">
          <% genericdocsperpage.forEach(function(iperpage){
            %>
              <option <% if(request.query.limit === iperpage.value ){%> selected="selected"
              <%}%> value="<%= iperpage.value %>"><%= iperpage.label %></option>
            <%
            }); %>
        </select> 

       of 
      <%- genericdoccount %> 
      <%- genericdoctypeplurallink %> | page 
      <input style="width:1em;" class="autoFormSubmit" name="pagenum" value="<%- request.query.pagenum %>"/>
       of 
      <%- genericdocpages %></div>  
    </div>
    
    </summary>
    <aside>
    More Filters Coming Soon
      <!--
      <div class="ts-row">
        <div class="ts-col-span3 ts-form-row ts-text-xs ts-container-margin-md">
          <input type="text" class=" ts-datalist-tagged" 
          id="padmin-tags" data-ajax-prop="tags" data-ajax-source="/p-admin/content/tag/new" data-ajax-setdata-variable="genericdoc_tags"  placeholder="Tags" name="tags-ts-datalist-tagged"/>
        </div>
        <div class="ts-col-span3 ts-form-row ts-text-xs ts-container-margin-md">
          <input type="text" id="padmin-categories" data-ajax-prop="categories" data-ajax-source="/p-admin/content/category/new"  data-ajax-setdata-variable="genericdoc_categories" class=" ts-datalist-tagged" 
          placeholder="Categories" name="categories-ts-datalist-tagged"/>
        </div>
        <div class="ts-col-span3 ts-form-row ts-text-xs ts-container-margin-md">
          <input type="text" id="padmin-authors" data-ajax-prop="authors" data-ajax-source="/p-admin/content/user/search" data-ajax-setdata-variable="genericdoc_authors" 
          class=" ts-datalist-tagged" placeholder="Authors" name="authors-ts-datalist-tagged"/>
        </div>
        <div class="ts-col-span3 ts-form-row ts-text-xs ts-container-margin-md">
          <input type="text" class=" ts-datalist-tagged" 
          id="padmin-parent" data-ajax-prop="parent" data-ajax-source="/p-admin/content/tag/new" data-ajax-setdata-variable="genericdoc_parenttax"  placeholder="Parent Tag" name="parent-ts-datalist-tagged"/>
        </div>
      </div>
      -->
    </aside>
  </details>
</form>