<% include ../../shared/header %>
<% var genericdoc = data %>
<% var genericdocid = data._id %>
<% var genericdoctype = "Data" %>
<% var genericdoctypename = "data" %>
<% var genericdoctypelink = "data" %>
<% var genericdoctypeplurallink = "datas" %>

<div class="ts-container">
  <div class="ts-text-container ts-genericdoc">

    <% include ../../shared/genericdoc_compose_title %>

    <div class="ts-row">
      <div class="ts-col-span12">
        <div id="refresh-tabs" class="ts-tabs">
          <nav>
            <ul class="ts-col-span12 ts-text-center">
              <li class="ts-col-span3 ts-no-margin">Basic</li>
              <li class="ts-col-span3 ts-no-margin">Advanced</li>
            </ul>
          </nav>
          <div class="ts-tabs-content">
            <section class="ts-no-padding">

              <form id="edit-<%- genericdoctypename %>-wysiwyg-form" name="edit-<%- genericdoctypename %>-wysiwyg-form" class="ts-form async-admin-ajax-forms" method="post" action="/<%- locals.adminPath %>/content/<%- genericdoctypename %>/<%- genericdoc._id %>/edit" enctype="multipart/form-data" 
          data-successsubmitfunction="refresh_content_attributes_media">
                <% include compose_data_form %>
              </form>
            </section>
            <section class="ts-no-padding">
              <% include ../../shared/genericdoc_show_doc %>
            </section>
          </div>
        </div>
      </div>
    </div>

  	
	</div>
</div>
<script type="text/javascript" src="/extensions/periodicjs.ext.async_cms/js/cms.min.js"></script>
  <% var generictaxnomy = 'tag' %>
  <% include ../../shared/_new_generic_taxonomy_modal %>
  <% var generictaxnomy = 'category' %>
  <% include ../../shared/_new_generic_taxonomy_modal %>
  <% var generictaxnomy = 'contenttype' %>
  <% include ../../shared/_new_generic_taxonomy_modal %>
  <% var generictaxnomy = 'asset' %>
  <% include ../../shared/_new_generic_asset_modal %>
<% include ../../shared/footer %>