<% include ../../shared/header %>
<div class="ts-container">
  <div class="ts-text-container ts-genericdoc">
  	<% genericdoc = compilation %>
  	<% genericdocid = compilation._id %>
  	<% genericdoctype = "Compilation" %>
  	<% genericdoctypename = "compilation" %>
  	<% genericdoctypelink = "compilations" %>
  	<form id="edit-<%- genericdoctypename %>-form" name="edit-<%- genericdoctypename %>-form" class="ts-form async-admin-ajax-forms" method="post" action="/<%- locals.adminPath %>/content/<%- genericdoctypename %>/<%- genericdoc._id %>/edit" enctype="multipart/form-data" 
data-successsubmitfunction="refresh_content_attributes_media">
  	  <% include compose_compilation_form %>
		</form>
	</div>
</div>
<script type="text/javascript" src="/extensions/periodicjs.ext.async_cms/js/cms.min.js"></script>
<% include ../../shared/footer %>