<div class="ts-row ts-text-xs">
	<div class="ts-col-span6">
		<h3>Quick Stats</h3>
		<div class=" ts-document">
			<!-- <h3>Your Instance</h3> -->
			<div class="ts-row">
				<div class="ts-col-span8"><strong>User Accounts:</strong></div><div class="ts-col-span4"><%- contentcounts.usersCount%></div>
			</div>
			<hr>
			<div class="ts-row">
				<div class="ts-col-span8"><strong>Installed Extensions:</strong></div><div class="ts-col-span4"><%- contentcounts.extensionsCount%></div>
			</div>
			<div class="ts-row">
				<div class="ts-col-span8"><strong>Installed Themes:</strong></div><div class="ts-col-span4"><%- contentcounts.themesCount%></div>
			</div>
			<hr>
			<div class="ts-row">
				<div class="ts-col-span6">
					<div class="ts-row">
						<div class="ts-col-span8"><strong>Content Assets:</strong></div><div class="ts-col-span4"><%- contentcounts.assetsCount%></div>
					</div>
					<div class="ts-row">
						<div class="ts-col-span8"><strong>Content Categories:</strong></div><div class="ts-col-span4"><%- contentcounts.categoriesCount%></div>
					</div>
					<div class="ts-row">
						<div class="ts-col-span8"><strong>Content Collections:</strong></div><div class="ts-col-span4"><%- contentcounts.collectionsCount%></div>
					</div>
				</div>
				<div class="ts-col-span6">
					<div class="ts-row">
						<div class="ts-col-span8"><strong>Content Items:</strong></div><div class="ts-col-span4"><%- contentcounts.itemsCount%></div>
					</div>
					<div class="ts-row">
						<div class="ts-col-span8"><strong>Content Tags:</strong></div><div class="ts-col-span4"><%- contentcounts.tagsCount%></div>
					</div>
					<div class="ts-row">
						<div class="ts-col-span8"><strong>Content Types:</strong></div><div class="ts-col-span4"><%- contentcounts.contenttypesCount%></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ts-col-span6">
		
		<h3>New Extensions</h3>
		<div class="ts-document">
			<div class="ts-row">
				<!-- <h3>Your Instance</h3> -->
				Go to <span class="ts-button ts-text-small">admin->extensions</span> to search for and add these new extensions or install via the command line
			</div>
		</div>
		<h3>New Themes</h3>
		<div class="ts-document">
			<div class="ts-row">
				<!-- <h3>Your Instance</h3> -->
				Go to <span class="ts-button ts-text-small">admin->themes</span> to search for and add these new themes or install via the command line
			</div>
		</div>
	</div>
</div>
