<% include ../../shared/header %>
<div class="ts-container">
  <div class="ts-text-container ts-genericdoc">
    

    <div class="ts-row">
      <div class="ts-col-span12">
        <div id="refresh-tabs" class="ts-tabs">
          <nav>
            <ul class="ts-col-span12 ts-text-center">
              <li class="ts-col-span3 ts-no-margin">Basic</li>
              <li class="ts-col-span3 ts-no-margin">Advanced</li>
            </ul>
          </nav>
          <div class="ts-tabs-content">
            <section class="ts-no-padding">
	            <% include ../../shared/html_inject_precontent %>
							<% genericdoc = contenttype %>
							<% genericdoctype = "Contenttype" %>
							<% genericdoctypelink = "contenttype" %>
							<% genericdoctypeplurallink = "contenttypes" %>
							<div class="ts-container">
							  <div class="ts-page-content-container">
							    <div class="ts_row">
							      <button class="ts-button-error-color ts-dialog-delete ts-button ts-pull-right"  data-href="/<%- locals.adminPath %>/content/<%- genericdoctypelink %>/<%- genericdoc._id %>/delete" data-deleted-redirect-href="/<%- locals.adminPath %>/content/<%- genericdoctypeplurallink %>">Delete <%- genericdoctype %></button>
							      <h4>Edit <a href="/<%- locals.adminPath %>/content/<%- genericdoctypeplurallink %>/"> <span class="ts-text-accent-color">Content Type</span></a> &rsaquo; <%- contenttype.name %>
							      </h4>
							    </div>
							    <% include _show_list_contenttypes %>    
							  </div>
							</div>
							<input type="hidden" name="_csrf" value=<%- locals.token %> >
							<% include ../../shared/html_inject_postcontent %>
            </section>
            <section class="ts-no-padding">
              <% include ../../shared/genericdoc_show_doc %>
            </section>
          </div>
        </div>
      </div>
    </div>

  	
	</div>
</div>
<script type="text/javascript" src="/extensions/periodicjs.ext.async_cms/js/cms.min.js"></script>
<% include ../../shared/footer %>